<!doctype html>
<html lang="es">
  <head>
    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
   
  </head>
  <body>
    


        <div class="">

          <h1>El usuario {{ name }} ha contactado</h1>
            <p>Nombre: {{ name }}</p>
            <p>Email: {{ mail }}</p>
            <p>Texto:<br>  {{ text }}
          </p>
           
         

        </div>




</body>
</html>
