{% extends 'home/base.html' %}

{% load static %}

{% block contenido %}






<!--ac inicia el carousel-->

<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1">
      </button>
      </button>

      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">

      </button>

      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">
      </button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/centro-osakidetza-test-ope(1).jpg' %}" class="d-block w-100" alt="#" />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>
            Some representative placeholder content for the first slide.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/canyon-1740973_1280.jpg' %}" class="d-block w-100" alt="#" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>
            Some representative placeholder content for the second slide.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/woman-1822646_1280.jpg' %}" class="d-block w-100" alt="#" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>
            Some representative placeholder content for the third slide.
          </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--aca termina el carousel-->

<br><br>

<!--aca comienza un parrafo-->

<div class="container mt-5">
  <div class="row">

    <p class="display-5" style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
      totam veritatis iste itaque praesentium dolores dolorum expedita, delectus perspiciatis consequatur maxime
      consectetur dolorem architecto, aut tempore ex aperiam ut quo.</p>

  </div>
</div>
<br>
<!--aca termina el parrafo-->

<!--boton para registrarce-->
<div class="text-center mt-5 mb-5 ">
  <a href="{% url 'home_app:registrarse' %}"><button class="btn text-white"
      style="background-color: #250f64;">Registrate</button></a>
</div>

<!-- aca termina el  boton-->




<!--aca inicia la parte de categorias-->

<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-12 p-3">

      <div class="card">
        <img class="card-img-top" src="{% static 'img/auxiliarAdministrativoBotonES.png' %}" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-12 p-3">
      <div class="card">
        <img src="{% static 'img/administrativoBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>


        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 p-3">
      <div class="card">
        <img src="{%  static 'img/celadorBotonES(1).png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>



        </div>
      </div>

    </div>

  </div>

  <!--aca commienza el segundo row para categorias-->

  <div class="row">

    <div class="col-lg-4  col-md-12 p-3">
      <div class="card">
        <img src="{% static 'img/operarioDeServiciosBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 p-3">

      <div class="card">
        <img src="{% static 'img/auxiliarDeEnfermeriaBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 p-3">

      <div class="card">
        <img src="{% static 'img/enfermeriaBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!--<h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>

        </div>
      </div>

    </div>



  </div>

  <!--aca comienza el siguiente row para las categorias-->

  <div class="row">

    <div class="col-lg-4 col-md-12 p-3">
      <div class="card">
        <img src="{% static 'img/medicoDeFamiliaBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!--<h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 p-3">

      <div class="card">
        <img src="{% static 'img/tecnicoDeLaboratorioBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 p-3">

      <div class="card">
        <img src="{% static 'img/tecnicoDeRadioBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!--<h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn  col-4"><img src="{% static 'mg/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>

        </div>
      </div>

    </div>



  </div>

  <div class="row">

    <div class="col-lg-4 col-md-12 p-3">
      <div class="card">
        <img src="{% static 'img/fisioterapeutaBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn  col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 p-3">

      <div class="card">
        <img src="{% static 'img/tecnicoEspecialistaInformaticaBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!--<h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn  col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>

          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 p-3">

      <div class="card">
        <img src="{% static 'img/auxiliarDeEnfermeriaBotonES.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <!--<h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <div class="row">
            <a href="#" class="btn col-4"><img src="{% static 'img/testInteligenteBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/mis50TestDificilesBoton.png' %}" alt=""></a>
            <a href="#" class="btn col-4"><img src="{% static 'img/miPrevisionBoton.png' %}" alt=""></a>
          </div>

        </div>
      </div>

    </div>



  </div>








</div>

<!--aca terminan las categorias-->

<!--aca comienza el numero de personas haciendoo test-->
<div>

  <p class="display-5 text-center" style="margin-top: 80px;">
    <b style="color:#250f64">+100<br>USUARIOS HACIENDO TEST</b>
  </p>

</div>
<!--aca termina el div de personas  haciendo test-->

<!---aca inicia el div de personas que hacen donativos-->

<div class="text-center display-5" style="margin-top: 90px; color: #250f64;">

  <p><b>Último Donativo</b><br>Maria Aguilar <br> (Donostia)</p>


</div>


<!--aca termina el contenedor de usuarios haciendo test-->


{% endblock %}