{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}
{% block head %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM6GBKCS3R"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-ZM6GBKCS3R');
</script>




{% endblock %}
{% block contenido %}



<div class=" container">
    <div class="row">
        <!--   <div style="color:radial-gradient(200px top, ellipse, white, #1162ac, black);" class="p-3"></div>-->

        <!--este es el titulo-->

        <div>
            <h1 class="text-center display-6 col-lg-12 col-md-12">{{ test.category}}
            </h1>
            <h3 class="text-center">{{ test.number }}/300</h3>
        </div>
        <!--aca termina el titulo-->

        <!--aca es la pregunta-->
        <div style="">
            <p class="display-6 col-lg-12 col-md-12" style="padding-bottom: px;">{{ test.number }}.-{{ test.question }}</p>
        </div>
        <!--aca termina la pregunta-->

        <!--este div esta vaciio-->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="answer" value="{{ test.aAnswer }}">
            <input type="hidden" name="category" value="{{ test.category }}">
            <input type="hidden" name="number" value="{{ test.number }}">
            <button class="btn btn-secondary w-25 m-3" type="submit">{{ test.aAnswer }}</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="answer" value="{{ test.bAnswer }}">
            <input type="hidden" name="category" value="{{ test.category }}">
            <input type="hidden" name="number" value="{{ test.number }}">
            <button class="btn btn-secondary w-25 m-3" type="submit">{{ test.bAnswer }}</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="answer" value="{{ test.cAnswer }}">
            <input type="hidden" name="category" value="{{ test.category }}">
            <input type="hidden" name="number" value="{{ test.number }}">
            <button class="btn btn-secondary w-25 m-3" type="submit">{{ test.cAnswer }}</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="answer" value="{{ test.dAnswer }}">
            <input type="hidden" name="category" value="{{ test.category }}">
            <input type="hidden" name="number" value="{{ test.number }}">
            <button class="btn btn-secondary w-25 m-3" type="submit">{{ test.dAnswer }}</button>
        </form>

        <!--aca teremina el div vaci-->

    </div>
</div>




    {% endblock %}