{% extends 'home/base.html' %}

{% load static %}
{% block head %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM6GBKCS3R"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-ZM6GBKCS3R');
</script>




{% endblock %}
{% block contenido %}



<div class=" container">
    <div class="row">


        <!--   <div style="color:radial-gradient(200px top, ellipse, white, #1162ac, black);" class="p-3"></div>-->



        <!--este es el titulo-->

        <div>
            <h1 class="text-center display-3 col-lg-12 col-md-12">{% trans 'Iniciemos con el
                aprendizaje' %}
            </h1>
        </div>

        <!--aca termina el titulo-->



        <!--aca es la pregunta-->
        <div style="padding-top: 150px;">


            <p class="display-4 col-lg-12 col-md-12" style="padding-bottom: 50px;">{% trans .'Cuál es la cantidad correcta al
                aplicar un suero vitamínico en una infante de 2 años.' %}</p>



        </div>

        <!--aca termina la pregunta-->


        <!--este div esta vaciio-->

        <div class="display-6" style="padding-bottom: 30px;">


            <button class="col col-lg-4 col-md-12">100 ml</button><br>


            <button class="btn">50 ml</button><br>

            <button class="btn btn-primary">50 ml</button><br>


        </div>

        <!--aca teremina el div vaci-->

    </div>





    <!--aca son los botones de falso y verdadero-->

    <div>


        <div>

            <button class="col col-lg-12 col-md-12 text-white"
                style="margin-bottom: auto; background-color: #250f64;">{% trans 'verdadero' %}</button>


        </div>


        <br><br>
        <!--aca se dividen los bootones-->


        <div>


            <button class="col col-lg-12 col-md-12 text-white"
                style="background-color: #250f64;">{% trans 'falso' %}</button>


        </div>




    </div>
    <!--aca terminan losbotones de falso y verdadero-->







    <!--
             <div class="col-sm-6 mb-3 mb-sm-0">
                 <div class="card">
                     <div class="card-body">
                         <h5 class="card-title">Special title treatment</h5>
                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                     </div>
                 </div>
             </div>


             <div class="form-group">
                 <label for="exampleFormControlTextarea1">Escribe tu mensaje</label>
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                     placeholder="Escribe aquí"></textarea>
             </div>

-->


    {% endblock %}