<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preguntas y respuestas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

</head>





<body style="background-image: url('{% static 'img/preguntasyrespuestas.png;' %}');">




    <div class=" container">
        <div class="row">


            <!--   <div style="color:radial-gradient(200px top, ellipse, white, #1162ac, black);" class="p-3"></div>-->



            <!--este es el titulo-->

            <div>
                <h1 class="text-center display-3 col-lg-12 col-md-12">Iniciemos con el
                    aprendizaje
                </h1>
            </div>

            <!--aca termina el titulo-->



            <!--aca es la pregunta-->
            <div style="padding-top: 150px;">


                <p class="display-4 col-lg-12 col-md-12" style="padding-bottom: 50px;">.Cuál es la cantidad correcta al
                    aplicar un suero vitamínico en una infante de 2 años.</p>



            </div>

            <!--aca termina la pregunta-->


            <!--este div esta vaciio-->

            <div class="display-6" style="padding-bottom: 30px;">


                <button class="col col-lg-4 col-md-12">100 ml</button><br>


                <button class="btn">50 ml</button><br>

                <button class="btn btn-primary">50 ml</button><br>


            </div>

            <!--aca teremina el div vaci-->

        </div>





        <!--aca son los botones de falso y verdadero-->

        <div>


            <div>

                <button class="col col-lg-12 col-md-12 text-white"
                    style="margin-bottom: auto; background-color: #250f64;">verdadero</button>


            </div>


            <br><br>
            <!--aca se dividen los bootones-->


            <div>


                <button class="col col-lg-12 col-md-12 text-white" style="background-color: #250f64;">falso</button>


            </div>




        </div>
        <!--aca terminan losbotones de falso y verdadero-->







        <!--
             <div class="col-sm-6 mb-3 mb-sm-0">
                 <div class="card">
                     <div class="card-body">
                         <h5 class="card-title">Special title treatment</h5>
                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                     </div>
                 </div>
             </div>


             <div class="form-group">
                 <label for="exampleFormControlTextarea1">Escribe tu mensaje</label>
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                     placeholder="Escribe aquí"></textarea>
             </div>

-->





        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>



</body>

</html>